.container {
  height: 100vh;
  width: 100wh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  opacity: 80%;
  z-index: -1;
}

.gohome {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 3%;
  left: 2%;
  font-size: 50px;
  text-decoration: none;
  color: blueviolet;
  background-image: url("../img/menu-button-of-three-horizontal-lines.png");
  background-size: 100%;
}

.movie_div {
  width: 80%;
  height: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: blanchedalmond;
}

.movie_li {
  list-style: none;
}
